
.a1{padding:0px;list-style:none}
.a2{font-size:50px;display:inline;margin:50px 30px;text-shadow:2px 2px 4px black}
.a3{font-size:100px;padding:300px 0px 0px 20px;text-shadow:2px 2px 5px black}
.i1{float:left;width:580px;height:511px;margin-right:15px;margin-bottom:0px}
button{background:black;color:white;margin-top:40px;font-size:30px;padding:8px;margin-left:300px;border:3px black solid;border-radius:3px}
#p1{background:#8F99C7;font-size:42px;line-spacing:2px;padding:10px;margin:0px;align:justify}
#d2{margin:0px;border:13px black solid}
#footer{display:flex;clear:left;background:#1C1C1C;padding: 30px 40px}
.footer{margin:0px 30px 0px 24px ;font-size:20px;padding:2px;line-height: 1.3;padding: 0 20px}
#footer h4{font-size:22px;margin-bottom:22px;margin-top:0px}
.footer1{margin:0px 30px 0px 0px ;font-size:20px;padding:2px;line-height: 1.3;padding-left:150px}
.footer2{margin:0px 30px 0px 0px ;font-size:20px;padding:2px;line-height: 1.3;padding-left:100px}
#active {border-bottom: 3px solid white}
button:hover{background-color:white;color:black}
a{color:white;text-decoration:none}
.a2:hover{text-shadow:4px 4px 2px black}
.aa{font-size:40px;text-shadow:2px 2px 4px black;list-style:none;font-family:'Cormorant Garamond', serif;letter-spacing: 2px;padding-left:24px}
#dd{background:#000000CC;margin:0px;padding:3px;line-height:1px;position:fixed;z-index:9999;width:100%;
top:0;
left:0;}
#dd:hover{background:black}
body{margin:0px;padding:0px}
.top{position:fixed;top:480px;left:1185px;opacity:0.5}
.top:hover{opacity:1}
#tagline {color: #e0e0e0;text-shadow: 0 0 5px #ffffff33;margin:0px;display:inline;font-size:16px;padding-top:10px;margin-left:10px;font-family: "Cormorant Garamond", serif;font-style: italic;letter-spacing: 0.5px}
p#pt{color:white;margin:0px;font-size:40px;display:inline;font-family:  'Cormorant Garamond', serif;letter-spacing: 2px;padding-left:8px;
font-weight: 600;}      