
.a2{display:inline;margin:50px 30px;text-shadow:2px 2px 4px black;font-size:23px;margin-left:90px;margin-top:75px}
.at{display:inline;margin:50px 30px;text-shadow:2px 2px 4px black;font-size:23px;margin-left:90px;margin-top:75px;border-bottom:2px white solid;padding:2px}
.a1{font-size:70px;display:inline;margin:50px 30px;text-shadow:2px 2px 4px black;padding-right:15px}
#d1{background:#000000CC;margin:0px;padding:15px}
#d1:hover{background:black}
.a2:hover{border-bottom:2px white solid}
.a3{text-shadow:2px 2px 10px #2B2B2B ;font-size:70px;margin-left:40px;margin-bottom:0px}
.a4{background-color:white;color:black;border:1.5px black solid;font-size:20px;margin-left:40px;padding:5px 15px;margin-top:25px}
span.a4{border-radius:70%;background:black;color:white;padding:3px 7px;border:none;width:30px;height:30px;line-height:40px;font-size:18px;font-weight:bold}
button.a4:hover{background-color:black;color:white;border:1.5px white solid}
#d2{background:white;padding:11px;opacity:95%;margin-top:30px;margin:0px}
ul{margin:0px;padding:0px}
.a5{display:inline;font-size:25px;color:black;opacity:100%;margin:0px;padding:0px}
.a6{display:inline;font-size:25px;color:black;opacity:100%;border-bottom:2px black solid;font-weight:bold;margin:0px;padding:0px}
.a6:hover{border:none}
#d3{border-left:30px white solid;border-right:30px white solid;margin:0px;padding:0px;margin-bottom:0px}
.d3{margin:0px;padding:0px}
#a6{margin-left:45px;margin-top:20px;;margin-bottom:20px}

h2.d3{margin:0px;padding:0px}

#t1{background:white;color:black;border-top:1px gray solid}
#t2{margin-top:100px;background:white;color:black;width:80%;padding-bottom:7px}
#t3{margin-top:30px;background:white;color:black;width:90%;margin-right:0px}

h2.c1{font-size:30px;font-weight:bold;font-family:arial;margin-bottom:0px}
p.c1{font-size:25px;margin-top:15px;line-height:1.3}
h4.c2{font-size:20px;font-weight:bold;font-family:arial;margin-bottom:10px;padding:0px;margin-top:25px;}
.c2{font-size:20px;font-family:arial;margin:0px;padding:0px}
div.c2{border-bottom:1px gray solid;padding-bottom:5px;margin:0px}
.a7{background:black;color:white;width:370px;margin-right:0px;padding:15px 10px;font-size:20px;margin-top:20px;margin-bottom:20px;text-align:left}
.a8{background:black;color:white;width:370px;margin-right:0px;padding:15px 10px;font-size:20px;text-align:left}
a,
a:visited,
a:hover,
a:active{color:white;text-decoration: none}
.a7:hover{background:white;color:black}
.a8:hover{background:white;color:black}
.a13:hover{background:white;color:black}
#d4{border-left:40px white solid;border-right:40px white solid;margin:0px;background:white;padding-top:4px;opacity:98%;margin-top:200px;padding-bottom:25px}
.a9{font-size:50px;color:black}
#map_section{display:flex}
.a10{color:black;font-size:20px;float:right;width:30%;padding-left:70px;PADDING-TOP:20PX}
#map_canvas{width:1000px;height:420px;width:70%}
#a2 a{color:white;text-decoration:none}
a button:hover{color: black}
.a11{color:white;font-size:30px;padding-left:1040px;margin-bottom:6px;background:black;margin-top:50px}
a.a12,
a.a12:visited,
a.a12:hover,
a.a12:active{color:black;text-decoration: none}
.top{position:fixed;top:480px;left:1185px;opacity:0.5}
.top:hover{opacity:1}
